
/* Your CSS Code here. */
.holder{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.item{
	background: antiquewhite;
	padding: 20px;
	text-align: center;
	margin: 5px;
	border: 1.2px solid skyblue;
	flex: 1 1 100px;
}